@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Odasans Semibold";
  src: url("../fonts/Odasans/Odasans-Semibold.ttf");
}
@font-face {
  font-family: "Wulkan";
  src: url("../fonts/Wulkan/WulkanDisplayRegular.ttf");
}

@layer base {
  html {
    @apply scroll-smooth selection:bg-accent dark:bg-darkAccent selection:text-darkBrown dark:selection:text-lightBrown;
  }
  body {
    @apply bg-background transition-colors duration-300 dark:bg-darkBackground text-darky dark:text-whity font-Poppins;
  }

  .dotsGrid {
    background: radial-gradient(#c5995d 2px, transparent 2px);
    background-size: 22px 22px;
  }
  .outOfContainer {
    margin: 0 calc(-50vw + 50%);
  }
  .bottomLine {
    @apply relative inline-block outline-none after:block after:h-[2px] after:w-0 after:bg-accent dark:after:bg-darkAccent
    after:transition-all after:duration-300 after:content-[''] hover:after:w-full
  }
  .ncls-title {
    @apply after:content-['NCLS'] after:font-Odasans after:text-7xl md:after:text-8xl after:flex after:inset-0 after:justify-center after:items-center after:h-screen after:text-whity dark:after:text-darkAccent;
  }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4bdb5;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-accent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-darkerAccent;
}
