@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Odasans Semibold";
  src: url("../fonts/Odasans/Odasans-Semibold.ttf");
}
@font-face {
  font-family: "Wulkan";
  src: url("../fonts/Wulkan/WulkanDisplayRegular.ttf");
}

@layer base {
  body {
    @apply bg-background text-darkBrown font-Poppins selection:bg-accent selection:text-darkBrown;
  }

  .dotsGrid {
    background: radial-gradient(#c5995d 2px, transparent 2px);
    background-size: 22px 22px;
  }
  .outOfContainer {

    margin: 0 calc(-50vw + 50%);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4bdb5;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5995d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #886b42;
}
